* {
  margin: 0;
  padding: 0;
  font-family: "Sora", sans-serif;
}



body {
  background-color: rgb(255, 255, 255);
  padding: 100px 150px;
  margin: 0;
  padding: 0;
}


.header {
  background-image: linear-gradient(
      to left,
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0.7)
    ),
    url(./img/fundo.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 50vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 30px;
  padding: 30px;

  .header-txt {
    width: 800px;
    margin-bottom: 20px;
    padding: 30px;
  
    margin: auto;
  
  }

  .header-txt p {
    font-size: 16px;
    border-left: 5px solid rgb(255, 255, 255);
    padding: 10px;
    margin-top: 30px;
  }

  .btn-1 {
    background-color: rgb(28, 63, 158);
  padding: 10px;
  color: white;
  border-radius: 7px;
  border: none;
  margin: 8px;
  cursor: pointer;
  margin-left: 15px;

  &:hover{
    background-color: rgb(37, 82, 206);
  }

  }
}


.h1 {

  background-color: rgb(184, 179, 179);
  padding: 10px 0 10px 30px;

}


.main {
  display: flex;
  padding: 10px;
  background-color: rgb(184, 179, 179);

  .main-2 {
    border-left: 3px solid rgb(28, 63, 158);
    padding: 20px;
    margin: 20px;
    width: 20%;
    font-size: 18px;
  }

  .main-2 h2{
    margin-bottom: 40px;
  }
}

.historia {
  background-color: rgb(243, 237, 237);
  padding: 50px;
  display: flex;

  .historia-text {
    padding: 20px;
    margin-right: 20px;
    font-size: 18px;
    color: black;
    text-align: justify;
  }
  .historia-img img{
    border-radius: 50px;
    margin-top: 80px ;
    width: 500px;
  }
}

.analisetec {
  background-color: rgb(243, 237, 237);
  padding: 20px;
  text-align: justify;
  margin: auto;
}

.grafico-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px 50px;
  flex-wrap: wrap;
  padding-top: 100px;
  padding-bottom: 50px;
  background-color: rgb(243, 237, 237);

  .grafico {
    position: relative;
    width: 350px;
    height: 250px;
    background: rgb(184, 179, 179);
    box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
    transition: 0.5s;
    justify-content: center;
    display: flex;
  }

  .grafico:hover {
    height: 500px;
    background: rgb(37, 82, 206);
    transition: 0.5s;
  }

  .grafico-img {
    position: absolute;
    width: 300px;
    height: 150px;
    border-radius: 12px;
    top: 20px;
    transition: 0.5s;
  }

  .grafico-img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
  }

  .grafico-text {
    position: absolute;
    top: 200px;
    width: 100%;
    height: 35px;
    overflow: hidden;
    text-align: center;
  }
  .grafico:hover .grafico-text {
    top: 50px;
    height: 400px;
  }

  .grafico:hover .grafico-img {
    top: -100px;
    scale: 0.75;
    box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2);
  }

  .grafico-text h3 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 3rem;
    color: black;
    margin-top: -10px;

    
  }
 

  .grafico-text p {
    color: rgb(236, 237, 244);
    padding: 0 20px;
    margin: 10px 15px 5px 15px;
  }
}

.negociacao {
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0.7)
    ),
    url(./img/fundo.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  padding: 10px;


  .negociacao-um {
    width: 40%;
    font-size: 18px;
    margin-left: 100px;
    color: white;
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;

    
  }

  .negociacao-text-um {
    display: flex;
    flex-direction: column;
  
    width: 50%;
    height: 90vh;
 
  }

  .negociacao-text {
    margin: 20px;
    background-color: rgb(184, 179, 179);
    border: 1px solid black;
    border-radius: 25px;
    padding: 10px;
    text-align: center;
  }


  .negociacao-text:hover{
    background-color: rgb(230, 230, 246);
  }
}

.bolsa-container {
  width: 60%;
  margin: auto;
  margin-bottom: 40px;
  color: rgb(28, 63, 158);
  padding-top: 60px;
  
}

.container-bolsa {
  align-items: center;
  text-align: center;
  justify-content: center;
  padding-bottom: 50px;


}





  .bolsas-text {
    margin: 20px;
    width: 30%;
    height: 35vh;
    padding: 15px;
    display: flex;
    flex-direction: column;

  }

 
.um {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  

  p{
    margin-top: 20px;
  }

  h1{
    margin-bottom: 10px;
  }


   
  }

.dois{
  display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  p{
    margin-top: 20px;
   }

   h1{
    margin-bottom: 10px;
  }
}



 a{
  text-decoration: none;
  color: white;

 }
.btn {
  background-color: rgb(28, 63, 158);
  padding: 10px;
  color: white;
  border-radius: 7px;
  border: none;
  margin-top: 20px;
  cursor: pointer;

  &:hover{
    background-color: rgb(37, 82, 206);
  }
}

.b3{
  background-color: rgb(243, 237, 237);
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 30px;
  padding-top: 100px;


  .b3-text{
    width: 40%;
    text-align: justify;
    padding: 20px;
    margin: 20px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;

   

  }
}

h2, h3{
  color: rgb(28, 63, 158);
}


// style introdução teste de aptidão
 .intro{
  background-color: rgb(243, 237, 237);
  margin: auto;
  width: 60%;
  padding: 70px;
  text-align: justify;

   h1{
    margin-bottom: 30px;
   }

   p{
    margin-bottom: 20px;
   }

   button{
    margin-bottom: 30px;
   }
 }


 //estyle teste de aptidão

 .teste{
  background-color: rgb(243, 237, 237);
  margin: auto;
  width: 60%;
  padding: 70px;
  text-align: justify;
 }


  .quiz-container{
    background-color: rgb(243, 237, 237);
    margin: auto;
    width: 80%;
    padding: 70px;
    text-align: justify;

    h2{
      margin-bottom: 30px;
    }

    li{
      margin-bottom: 15px;
      list-style: none;
    

    }

  }


    .btn-proxima {
      background-color: rgb(28, 63, 158);
      padding: 10px;
      color: white;
      border-radius: 7px;
      border: none;
      margin-top: 20px;
      cursor: pointer;
    
      &:hover{
        background-color: rgb(37, 82, 206);
      }
    }


    @media screen and (max-width: 1800px){
      .negociacao {
        background-image: linear-gradient(
            to top,
            rgba(0, 0, 0, 1),
            rgba(0, 0, 0, 0.7)
          ),
          url(./img/fundo.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
        align-items: center;
        display: flex;
        flex-direction: column;
        margin: 0;
    
    
      
        .negociacao-um {
          width: 80%;
          padding: 10px;
          padding-top: 50px;
          margin: 0;
          margin-bottom: 30px;
          color: white;
          text-align: justify;
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      
        .negociacao-text-um {
         
          align-items: center;
          text-align: center;
          justify-content: center;
          flex-direction: row;
          width: 100%;
        }
      
        .negociacao-text {
          margin: 10px;
          background-color: rgb(184, 179, 179);
          border: 1px solid black;
          border-radius: 25px;
          height: 50vh;
          width: 200px;
          text-align: justify;
          margin-bottom: 20px;
          padding: 20px;
          
        }
    
        .negociacao-text h3 {
          text-align: center;
        }
      
      
        .negociacao-text:hover{
          background-color: rgb(230, 230, 246);
    
      }}
      .dois {
        margin-top: 150px;
       }
      
       .nyse{
        margin-top: 70px;
       }
    }

    @media screen and (max-width: 1000px){
      * {
        margin: 0;
        padding: 0;
        font-family: "Sora", sans-serif;
        font-size: 12px;
     
        
      } 
    
      main{
        width:  100vw;
        margin: 0;
        padding: 0;
        border: 0;
    
      }
      
    
      
      
      body {
        background-color: rgb(255, 255, 255);
        margin:0;
        padding: 0;
    
      
      }


      
      
      .header {
        background-image: linear-gradient(
            to left,
            rgba(0, 0, 0, 1),
            rgba(0, 0, 0, 0.7)
          ),
          url(./img/fundo.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 40vh;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 30px;
    
        h1{
          font-size: 20px ;
    
        }
      
        .header-txt {
          height: 30vh;
          width: 600px;
          align-items: center;
          text-align: justify;
          margin: auto;
          margin-top: 15px;
      
    
         
        }
      
        .header-txt p {
          font-size: 16px;
          border-left: 5px solid rgb(255, 255, 255);
          padding: 10px;
      
        }
      
        .btn-1 {
          background-color: rgb(28, 63, 158);
          padding: 10px;
          color: white;
          border-radius: 7px;
          border: none;
          margin: 8px;
          cursor: pointer;
          margin-left: 15px;
      
         &:hover{
          background-color: rgb(37, 82, 206);
        }
      
        }
      }
    
      .historia {
        background-color: rgb(243, 237, 237);
        padding: 20px;
        display: flex;
        flex-direction: column;
      
        .historia-text {
          padding: 20px;
          color: black;
          text-align: justify;
        }
        .historia-img img{
          width: 300px;
          margin: auto;
          margin-left: 25%;
        }
      }
    
    
      .main {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
    
      .main-2 {
        flex-basis: 100%;
        padding: 20px;
        margin: 10px;
        font-size: 18px;
        background-color: rgb(184, 179, 179);
      }
    
      .main-2 h2 {
        margin-bottom: 20px;
    
      }
    
      .negociacao {
        background-image: linear-gradient(
            to top,
            rgba(0, 0, 0, 1),
            rgba(0, 0, 0, 0.7)
          ),
          url(./img/fundo.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
        align-items: center;
        height: 130vh;
        display: flex;
        flex-direction: column;
        margin: 0;
    
    
      
        .negociacao-um {
          width: 80%;
          padding: 10px;
          padding-top: 50px;
          margin: 0;
          margin-bottom: 30px;
          color: white;
          text-align: justify;
        }
      
        .negociacao-text-um {
         
          align-items: center;
          text-align: center;
          justify-content: center;
          margin: auto;
          display: flex;
          flex-direction: column;
       
        }
      
        .negociacao-text {
          margin: 10px;
          background-color: rgb(184, 179, 179);
          border: 1px solid black;
          border-radius: 25px;
          width: 700px;
          text-align: justify;
          margin-bottom: 20px;
          
        }
    
        .negociacao-text h3 {
          text-align: center;
        }
      
      
        .negociacao-text:hover{
          background-color: rgb(230, 230, 246);
        }
    
        .btn{
          width: 200px;
          margin-top: 15px;
    
        }
      }
   
      .um .bolsas-text{
        padding-bottom: 0;
        margin-bottom: 0;
        height: 30vh;
      }
      .dois .bolsas-text{
        padding-top: 0;
        margin-top: 0;
      }
    
    
    
    
      .b3 {
        flex-direction: column;
        margin: 0;
        padding: 10px;
    
      }
    
      .b3 .b3-text {
        margin: 0;
        padding: 50px;
        width: 100%;
        text-align: justify;
       
    
      
      }
    
      .b3-text p {
        font-size: 12px; /* Reduzindo o tamanho do texto */
        margin-bottom: 10px;
        margin: 0;
        padding: 0;
    
      }
    
      .b3-text .btn{
        width: 200px;
        margin-top: 15px;
      }

      .nyse{
        margin-top: 31px;
      }
    
    
    }
    
      
    
    
    
    
    
    

/* Estilos para telas menores ou iguais a 400px de largura */
@media screen and (max-width: 600px){

  * {
    margin: 0;
    padding: 0;
    font-family: "Sora", sans-serif;
    font-size: 12px;
 
    
  } 

  main{
    width:  100vw;
    margin: 0;
    padding: 0;
    border: 0;

  }
  

  
  
  body {
    background-color: rgb(255, 255, 255);
    margin:0;
    padding: 0;

  
  }
  
  
  .header {
    background-image: linear-gradient(
        to left,
        rgba(0, 0, 0, 1),
        rgba(0, 0, 0, 0.7)
      ),
      url(./img/fundo.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 95vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 30px;

    h1{
      font-size: 20px ;

    }
  
    .header-txt {
    height: 95vh;
      width: 300px;
      align-items: center;
      text-align: justify;
      margin: auto;
      margin-top: 15px;
  

     
    }
  
    .header-txt p {
      font-size: 16px;
      border-left: 5px solid rgb(255, 255, 255);
      padding: 10px;
  
    }
  
    .btn-1 {
      background-color: rgb(28, 63, 158);
    padding: 10px;
    color: white;
    border-radius: 7px;
    border: none;
    margin: 8px;
    cursor: pointer;
    margin-left: 15px;
  
    &:hover{
      background-color: rgb(37, 82, 206);
    }
  
    }
  }
  
  
  .h1 {
    background-color: rgb(184, 179, 179);
    font-size: 30px;
    text-align: center;
    color: rgb(37, 82, 206);
  }

  .historia {
    background-color: rgb(243, 237, 237);
    padding: 20px;
    display: flex;
    flex-direction: column;
  
    .historia-text {
      padding: 20px;
      color: black;
      text-align: justify;
    }
    .historia-img img{
      width: 300px;
      margin: auto;
      justify-content: center;
      margin-left: 15px;
    }
  }

  .main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .main-2 {
    flex-basis: 100%;
    padding: 20px;
    margin: 10px;
    font-size: 18px;
    background-color: rgb(184, 179, 179);
  }

  .main-2 h2 {
    margin-bottom: 20px;

  }


  .negociacao {
    background-image: linear-gradient(
        to top,
        rgba(0, 0, 0, 1),
        rgba(0, 0, 0, 0.7)
      ),
      url(./img/fundo.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 180vh;
    padding-bottom: 80px;



  
    .negociacao-um {
      padding: 10px;
      padding-bottom: 10px;
      color: white;
      text-align: justify;
      display: flex;
      flex-direction: column;
      


   
    }
  
    .negociacao-text-um {
      display: flex;
      flex-direction: column;
    

      
     
   
    }
  
    .negociacao-text {
      background-color: rgb(184, 179, 179);
      border: 1px solid black;
      border-radius: 25px;
      text-align: justify;
      width: 300px;

    }

    .negociacao-text h3 p {
      text-align: center;
    }
  
  
    .negociacao-text:hover{
      background-color: rgb(230, 230, 246);
    }

  
  }


  .bolsa-container h1{
    padding: 20px;
    text-align: center;
    align-items: center;
    width: 100vw;
    margin: 0;
  
  }

  .bolsas {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .um{
    display: flex;
    flex-direction: column;
  }

  .dois{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }
  .bolsas .bolsas-text {
    width: 100%;
    padding: 20px;
    margin-bottom: 10px;
  }

  .bolsas-text h1 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .bolsas-text p {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .btn {
    padding: 10px 10px;
    font-size: 14px;
    width: 100px;
    margin: auto;
  }



  .b3 {
    flex-direction: column;
    margin: 0;
    padding: 10px;

  }

  .b3 .b3-text {
    margin: 0;
    padding: 50px;
    width: 100%;
    text-align: justify;
   

  
  }

  .b3-text p {
    font-size: 12px; /* Reduzindo o tamanho do texto */
    margin-bottom: 10px;
    margin: 0;
    padding: 0;

  }

  .b3-text .btn{
    width: 200px;
    margin-top: 15px;
  }


}


  

