* {
  margin: 0;
  padding: 0;
  font-family: "Sora", sans-serif;
  position: static;
  box-sizing: border-box;
}

main {
  margin: 0;
}

.container-intro {
  width: 100%;
  margin-bottom: 30px;
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
}

.intro-container {
  padding: 50px;
  width: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url("./img/fundo.jpeg");
  background-size: cover;
  color: rgb(255, 255, 255);
}

.intro-texto {
  padding: 20px;
  text-align: justify;
  width: 100%;
}
.intro-texto h1 {
  margin-bottom: 30px;
  color: white;
  font-size: 40px;
}

.container-card {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.container-card .card {
  width: 500px;
  height: 200px;
  margin: 30px;
  border-radius: 15px;
}

.card-conteudo {
  padding: 20px;
  height: 200px;
  background-color: rgb(236, 237, 244);
  align-items: center;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card-conteudo:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgb(176, 178, 194);
}
.card-conteudo:hover h2 {
  color: rgb(49, 87, 182);
}
.card-conteudo:hover p {
  margin-top: 20px;
}

.card-conteudo h2 {
  margin-bottom: 20px;
}

.teste {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px 50px;
  flex-wrap: wrap;
  margin-bottom: 80px;
  margin-top: 80px;
}

.grafico-container {
  display: flex;
  flex-direction: column;
  margin: 50px 50px;
}
.grafico-container .grafico-intro {
  text-align: center;
  color: rgb(49, 87, 182);
  margin: auto;
  padding: 0 200px;
}

.teste .grafico {
  position: relative;
  width: 300px;
  height: 300px;
  background-color: rgba(64, 111, 230, 0.616);
  box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
  transition: 0.5s;
  justify-content: center;
  display: flex;
}

.teste .grafico:hover {
  height: 715px;
  width: 300px;
  border-radius: 20px;
  background-color: rgb(34, 62, 133);
}

.teste .grafico .grafico-img {
  position: absolute;
  width: 200px;
  height: 150px;
  border-radius: 12px;
  top: 20px;
  transition: 0.5s;
}

.teste .grafico .grafico-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 12px;
}

.teste .grafico .grafico-text {
  position: absolute;
  top: 200px;
  width: 100%;
  height: 35px;
  overflow: hidden;
  text-align: center;
}

.teste .grafico:hover .grafico-text {
  top: 100px;
  height: 715px;
  text-align: justify;
  padding: 3px;
}

.teste .grafico:hover .grafico-img {
  top: -100px;
  scale: 0.75;
  box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2);
}

.teste .grafico .grafico-text h3 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 3rem;
  color: rgb(230, 230, 246);
  margin-top: -10px;
  text-align: center;
  color: rgb(16, 38, 126);
}

.teste .grafico .grafico-text:hover h3 {
  color: white;
}

.teste .grafico .grafico-text p {
  color: rgb(236, 237, 244);
  padding: 0 20px;
  margin: 10px 15px 5px 15px;
}

.container-finalizacao {
  width: 100%;
  text-align: justify;
  margin: auto;
  display: flex;
  align-items: center;
  padding: 50px;
  display: flex;
  flex-direction: column;
}
.container-finalizacao .finalizacao {
  padding: 30px;
  width: 70%;
}
.container-finalizacao .finalizacao p {
  margin-bottom: 16px;
}

.container-teste {
  height: 35vh; /* 50% da altura da tela */
  margin: 5%; /* 5% da largura da tela em cada margem */
  border-radius: 10px;
  align-items: center;
}
.container-teste .teste-intro {
  height: 100%;
  background-color: rgb(236, 237, 244);
  padding: 5%; /* 5% da largura da tela */
  align-items: center;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.container-teste .teste-intro:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgb(176, 178, 194);
}

h3 {
  margin-bottom: 20px;
}

h4 {
  margin-bottom: 15px;
}

button {
  background-color: rgb(49, 87, 182);
  width: 140px;
  height: 35px;
  border: none;
  border-radius: 8px;
  margin-top: 50px;
  cursor: pointer;
  color: white;
}
button:hover {
  background-color: rgb(64, 111, 230);
}
button a {
  text-decoration: none;
  align-items: center;
  color: white;
}

.container-text {
  display: flex;
  width: 30%;
  height: 40vh;
  margin-top: 20px;
  margin-top: 100px;
  color: white;
}
.container-text h3 {
  margin-bottom: 30px;
}
.container-text h4 {
  margin-bottom: 10px;
}
.container-text button {
  margin-top: 30px;
  border: none;
  width: 200px;
  height: 40px;
}
.container-text a {
  text-decoration: none;
  padding: 20px;
  color: black;
}

footer {
  width: 100%;
  bottom: 0;
  margin: 0;
  padding: 30px 50px;
  background-color: rgb(49, 87, 182);
}
footer h3 {
  text-align: center;
  padding-bottom: 30px;
  color: black;
}

.footer {
  width: 100%;
  bottom: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.footer .resumo-text {
  width: 800px;
  margin: 20px;
}
.footer .resumo-text h3 {
  text-align: justify;
}
.footer .resumo-conteudo {
  width: 100%;
  background-color: rgb(49, 87, 182);
}

.intro {
  background-color: rgb(236, 237, 244);
  padding: 30px;
}
.intro .intro-text p, .intro .intro-text h1 {
  margin: 15px 0;
}
.intro .intro-text button {
  margin-top: 15px;
}

.quiz-container {
  background-color: rgb(236, 237, 244);
  padding: 30px;
  margin: auto;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.quiz-container h2, .quiz-container input {
  margin: 10px 0;
}
.quiz-container ul {
  list-style: none;
}

.resposta {
  width: 50%;
  text-align: justify;
}

@media screen and (max-width: 768px) {
  .container-intro .intro-container {
    margin: 0;
    padding: 10px;
  }
  .container-card .card-conteudo {
    height: 280px;
  }
  .container-card .card {
    margin: 60px 15px;
  }
  .container-finalizacao {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  .container-finalizacao .finalizacao {
    margin: 0;
    padding: 5px;
    width: 100%;
  }
  .container-finalizacao .container-teste {
    height: 50vh;
  }
  .grafico-container .grafico-intro {
    padding: 0;
    margin: 0;
  }
  .resposta {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */